  body {
    background-image:url(matrix.gif);
    background-attachment:fixed;
  background-size: 100%;
  color: #black;
}

h1 {
font-size: 35px;
}

#container {
  position:absolute;
  border-radius: 20px;
  left: 30px;
  right: 300px;
  border: solid #009933 1px;
  padding-left: 10px;
   background-color: black;
   color: #B8C0B3;
 }
