body {
  background-color: #120800;
}
section {
  font-size: 2em;
  border-radius: 20px;
  margin-left: 1%;
  margin-right: 1%;
  border: solid gray 5px;
  padding-left: 1%;
  color: lightgray;
}
code {
  background-color: grey;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
}
