

@media screen and (max-width: 600px)
{
body {
  background-color: #3B240B;
}

h1 {
  font-size: 3.1875em;
}
h2{
  font-size: 2.8em;
}

h3{
  font-size: 2.3em;
}

p {
  font-size: 1.8em;
}

li {
  font-size: 1.6em;
}


}
