body {
  background-color: #120800;
  color: #black;
}

h1 {
  font-size: 2.8em;
}
h2{
  font-size: 2.6em;
}

h3{
  font-size: 2.4em;
}

h5{
  font-size: 4.5em;
}

p {
  font-size: 1.8em;
}

li {
  font-size: 1.6em;
}

header {

}

section {
  position: static;
  border-radius: 20px;
  margin-left: 1%;
  margin-right: 3%;
  border: solid gray 5px ;
  padding-left: 1%;
 color: lightgray;
}

footer {

}

code {
  background-color: grey;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 600px)
{
body {
  background-color: #3B240B;
}

h1 {
  font-size: 3.1875em;
}
h2{
  font-size: 2.8em;
}

h3{
  font-size: 2.3em;
}

p {
  font-size: 1.8em;
}

li {
  font-size: 1.6em;
}


}
